{% extends 'base_right.html' %}
{% load staticfiles %}

{% block title %}
    静觅 | kenZhang的个人博客
{% endblock title %}

{% block description %}
<meta name="description" content="kenZhang的个人博客，记录生活的瞬间，分享学习的心得，感悟生活，留住感动，静静寻觅生活的美好"/>
{% endblock description %}
{% block keywords %}
<meta name="keywords" content="kenZhang,Python,Django,静觅,网络,IT,技术,博客,个人博客"/>
{% endblock keywords %}

{% block leftcontent %}
    <!--左侧内容区-->
    <div class="content-wrap">
    <h4>暂无资源分享，期待后续开发</h4>
   </div>
    <!--左侧内容区结束-->
{% endblock leftcontent%}